body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    background-color: #a3c2c2;
    height: 100vh;
    margin: 0;
}
.calculator{
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    border: 2px solid #29293d;
    background-color: #666699;
    padding: 40px;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin-top: 5vh;
}

.row{
    display: flex;
    height: auto;
    width: 100%;
    padding: 10px;
    gap: 5px;
    justify-content: space-between;
}

button{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    border: 0.5px solid black;
    width: 10vh;
    height: 10vh;
    font-size: 32px;
    font-family: 'Nunito', sans-serif;
    border-radius: 50%;
}

button:hover{
    background-color: #d9d9d9;
    border: 2px solid #ccccb3;
}

.five button{
    display: flex;
    font-size: 32px;
    width:50%;
    align-content: stretch;
    border-radius:25px;
}

.five button:hover{
    border: 2px solid #ccccb3;

}

#display{
    display: flex;
    min-width: 90%;
    align-items: right;
}

#window{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #c2d6d6;
    text-align: right;
    border-radius: 15px;
    font-size: 32px;
    min-height: 10vh;
    border: 1px solid black;
}

#opdisplay{
    display: flex;
    width: 10%;
    align-items: left;
}

.operate, .result{
    background-color:  #75a3a3;
}

footer{
    display:flex;
    align-items: center;
    gap: 10px;
}

footer img{
    width: 40px;
    height:auto;
}